.root-presentation {
  height: 40vh;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-presentation {
  height: auto;
  width: 1200px;
}

.content-presentation {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
}
